$primary-color: var(--primary-color, #78cdd7);
$secondary-color: var(--secondary-color, #284af7);
$accent-color: var(--accent-color, #ebeb30);
$black: var(--black, #000);

$grey-lightest: var(--grey-lightest, #f5f5f5);

.mainCollapsibleHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }
}

.containerButtonCollapsible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonArrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
