$border-radius: var(--navbar-item-border-radius, 8px);
$navbar-item-padding: var(--navbar-item-padding, 0.5rem);
$bg-dark-color: var(--bg-dark-color, #1c1c1c);
$bg-color: var(--bg-color, #303030);
$bg-light-color: var(--bg-light-color, #303030);

$navbar-item-text-color: var(--navbar-item-text-color, #ffffff);

// colors
$white: var(--white, #ffffff);
$white-dark: var(--white-dark, #f5f5f5);
$grey-light: var(--grey-light, #9daeca);
$grey-dark: var(--grey-dark, #58647a);
$black: var(--black, #232323);
$primary-color: var(--primary-color, #3f51b5);
$secondary-color: var(--secondary-color, #f50057);
$accent-color: var(--accent-color, #ebeb30);

// this is intended to go like this:
// 1. use '--navbar-item-text-color' if it is defined
// 2. if not, use '--primary-color' if it is defined
// 3. if not, use default primary color
$primary-color: var(--primary-color, #e8352e);
$navbar-item-text-color: var(--navbar-item-text-color, $primary-color);

// same with --navbar-item-text-color-hover and --primary-dark-color
$primary-dark-color: var(--primary-dark-color, darken(#e8352e, 10%));
$navbar-item-text-color-hover: var(--navbar-item-text-color-hover, $primary-dark-color);

// same with --navbar-item-bg-color-active and --bg-dark-color
$navbar-item-bg-color-active: var(--navbar-item-bg-color-active, $bg-dark-color);

// same with --navbar-item-text-color-hover and --bg-color
$navbar-item-bg-color-hover: var(--navbar-item-bg-color-hover, $bg-color);

// variables
$border-radius: var(--navbar-item-border-radius, 8px);
$border-thickness: var(--navbar-item-border-thickness, 2px);

.active {
  background-color: $navbar-item-text-color;
  background-color: $navbar-item-bg-color-active;
  border-radius: $border-radius;
}

.textLink {
  color: $navbar-item-text-color;
}

.navbarItemBase {
  list-style-type: none;
  margin: 0 0.15rem;

  a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    * {
      padding: $navbar-item-padding;
    }
  }

  ul {
    background-color: $bg-light-color;
  }

  &:hover {
    cursor: pointer;
    background-color: $navbar-item-bg-color-hover;
    border-radius: $border-radius !important;

    // handle elements in the dropdown
    li {
      border-radius: 0;

      // handle last child of the dropdown
      &:last-child {
        border-bottom-left-radius: $border-radius !important;
        border-bottom-right-radius: $border-radius !important;
      }
    }

    // handle the dropdown itself
    &.hasChildren {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    .iconDropdown {
      color: $navbar-item-text-color;
      transform: scaleY(-1);
    }
  }
}

// TODO find a better selector than these two
// this is for the text
.navbarItemBase:hover > div > div > a > * {
  // need the !important to override the default color / active color
  color: $navbar-item-text-color-hover !important;
}
// this is for the icon
.navbarItemBase:hover > div > div > .iconDropdown {
  // need the !important to override the default color / active color
  color: $navbar-item-text-color-hover !important;
}

.navbarContentContainer {
  display: block;
}

.navbarHeaderContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iconDropdown {
  color: $navbar-item-text-color;
  margin-right: 0.2rem;
}

.active .iconDropdown {
  color: $navbar-item-text-color;
}

/**
* DROPDOWN
*/
.dropdownContent {
  display: none !important;
  position: absolute;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  min-width: 100%;
  z-index: 11;

  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);

  li {
    margin: 0px;
  }

  .navbarItemBase {
    width: 100% !important;
  }
}

.dropdownContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;

  ol,
  ul {
    margin: 0;
  }
}

.dropdownContainer:hover .dropdownContent {
  display: block !important;
}

/*
* BORDERS
*/
.border_default {
  border: $border-thickness solid $card-border-default-color;
}

.border_transparent {
  border: $border-thickness solid transparent;
}

.border_white {
  border: $border-thickness solid $white;
}

.border_grey_light {
  border: $border-thickness solid $grey-lightest;
}

.border_grey_dark {
  border: $border-thickness solid $grey-dark;
}

.border_black {
  border: $border-thickness solid $black;
}

.border_primary {
  border: $border-thickness solid $primary-color;
}

.border_secondary {
  border: $border-thickness solid $secondary-color;
}

.border_accent {
  border: $border-thickness solid $accent-color;
}

/**
* MOBILE
*/
@media (max-width: 1200px) {
  .active {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: $border-radius !important;
      border-top-right-radius: $border-radius !important;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  .dropdownContent {
    left: 90%;
    border-radius: $border-radius;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  .navbarContentContainer {
    display: flex;
    flex-direction: row;
  }

  .iconDropdown {
    transform: rotate(-90deg);
  }

  .navbarItemBase {
    width: 100% !important;
    margin: 0;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    a {
      text-align: start;
    }

    ul,
    li {
      margin: 0;
    }

    &:hover {
      border-radius: 0 !important;

      &:first-child {
        border-top-left-radius: $border-radius !important;
        border-top-right-radius: $border-radius !important;
      }

      &:last-child {
        border-bottom-left-radius: $border-radius !important;
        border-bottom-right-radius: $border-radius !important;
      }

      .iconDropdown {
        transform: rotate(90deg);
      }
    }
  }
}
