$border-radius: var(--navbar-item-border-radius, 8px);
$navbar-item-padding: var(--navbar-item-padding, 0.5rem);
$bg-dark-color: var(--bg-dark-color, #1c1c1c);
$bg-light-color: var(--bg-light-color, #303030);

$navbar-item-text-color: var(--navbar-item-text-color, #ffffff);

// this is intended to go like this:
// 1. use '--navbar-item-text-color' if it is defined
// 2. if not, use '--primary-color' if it is defined
// 3. if not, use default primary color
$primary-color: var(--primary-color, #e8352e);
$navbar-item-text-color: var(--navbar-item-text-color, $primary-color);

.active {
  background-color: var(--secondary-color, #e8352e);
  background-color: var(--bg-dark-color, #1c1c1c) !important;
  border-radius: $border-radius;
}

.textLink {
  color: $navbar-item-text-color;
}

.navbarItemBase {
  list-style-type: none;
  margin: 0 0.15rem;

  a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    * {
      padding: $navbar-item-padding;
    }
  }

  ul {
    background-color: $bg-light-color;
  }

  &:hover {
    cursor: pointer;
    background-color: $bg-dark-color;
    border-radius: $border-radius !important;

    li {
      border-radius: 0 !important;
    }

    &.hasChildren {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius !important;
      border-bottom-right-radius: $border-radius !important;
    }

    .iconDropdown {
      color: var(--white, #ffffff);
      transform: scaleY(-1);
    }
  }
}

// TODO find a better selector than this
// weird situation with 'active' and all that
.navbarItemBase:hover > div > div > a > * {
  color: var(--white, #ffffff) !important;
}

.navbarContentContainer {
  display: block;
}

.navbarHeaderContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iconDropdown {
  color: var(--secondary-color, #e8352e);
  margin-right: 0.2rem;
}

.active .iconDropdown {
  color: var(--white, #ffffff);
}

/**
* DROPDOWN
*/
.dropdownContent {
  display: none !important;
  position: absolute;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  min-width: 100%;
  z-index: 11;

  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);

  li {
    margin: 0px;
  }

  .navbarItemBase {
    width: 100% !important;
  }
}

.dropdownContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;

  ol,
  ul {
    margin: 0;
  }
}

.dropdownContainer:hover .dropdownContent {
  display: block !important;
}

/**
* MOBILE
*/
@media (max-width: 1200px) {
  .active {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: $border-radius !important;
      border-top-right-radius: $border-radius !important;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  .dropdownContent {
    left: 90%;
    border-radius: $border-radius;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  .navbarContentContainer {
    display: flex;
    flex-direction: row;
  }

  .iconDropdown {
    transform: rotate(-90deg);
  }

  .navbarItemBase {
    width: 100% !important;
    margin: 0;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    a {
      text-align: start;
    }

    ul,
    li {
      margin: 0;
    }

    &:hover {
      border-radius: 0 !important;

      &:first-child {
        border-top-left-radius: $border-radius !important;
        border-top-right-radius: $border-radius !important;
      }

      &:last-child {
        border-bottom-left-radius: $border-radius !important;
        border-bottom-right-radius: $border-radius !important;
      }

      .iconDropdown {
        transform: rotate(90deg);
      }
    }
  }
}
