.containerModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(82, 86, 105, 0.6);
  backdrop-filter: blur(5px);

  // prevent background scrolling
  overscroll-behavior: none;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.containerHeaderButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal {
  overflow-y: auto;
}

.bodyModal {
  overflow-y: auto;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4px;
}

/**
* WIDTHS
*/
.sm {
  width: 30%;
}

.md {
  width: 50%;
}

.lg {
  width: 70%;
}

.full {
  width: 100%;
}

/**
* MOBILE
*/
@media screen and (max-width: 1024px) {
  .sm {
    width: 50%;
  }

  .md {
    width: 70%;
  }

  .lg {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .sm,
  .md,
  .lg,
  .full {
    width: 100%;
  }
}
