$background-color: var(--navbar-background-color, #dddddd);
$brand-padding: var(--navbar-brand-padding, 0.5rem);
$navbar-item-border-radius: var(--navbar-item-border-radius, 1rem);

$bg-dark-color: var(--bg-dark-color, #000);
$container-brand-margin: 0rem;

// Font family fallback strategy
// this is intended to go like this:
// 1. use 'font-family-navbar-header' if it is defined
// 2. if not, use 'font-family-header' if it is defined
// 3. if not, use sans-serif
$default-font-family-header: sans-serif;
$font-family-header: var(--font-family-header, #{$default-font-family-header});
$font-family-navbar-header: var(--font-family-navbar-header, $font-family-header);

// same with --navbar-icon-mobile-color and --primary-color
// if neither is defined, use default primary color
$primary-color: var(--primary-color, #78cdd7);
$navbar-icon-mobile-color: var(--navbar-icon-mobile-color, $primary-color);

// navbar vertical width
$navbar-vertical-width: var(--navbar-vertical-width, 8rem);

// navbar transition
$navbar-transition: var(--navbar-transition, all 0.2s ease-in-out);

/**
 * ELEVATION
 */
.elevation_none {
  box-shadow: none;
}

.elevation_low {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.elevation_high {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.elevation_rainbow {
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px,
    rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

/**
 * SHARED CSS
 */
.wrapper {
  display: flex;
  flex-direction: column; /* Ensure that content stacks below the navbar */
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; /* Allow content to adjust based on its container */
  margin-top: 0px !important;

  &.vertical {
    padding-left: $navbar-vertical-width;
  }
}

.navigation {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $background-color;
  overflow: visible;
  padding: 0.25rem;
  transition: $navbar-transition;
  backdrop-filter: blur(8px);

  &.vertical {
    height: 100vh;
    width: $navbar-vertical-width;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: flex-start;
    gap: 1rem;

    .navigationMenuList {
      flex-direction: column;
      align-items: stretch;
      margin: 0;
      width: 100%;
      flex-grow: 0;
    }

    .containerButtonsAction {
      align-items: center;
      width: 100%;
      margin: 0;
      margin-top: auto;
    }
  }

  &:not(.vertical) {
    width: 100%;
    position: sticky;
    top: 0;

    > div {
      max-width: 100%;
    }
  }
}

.containerBrand {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: 100%;
  padding: 0.15rem;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $container-brand-margin;
  width: auto;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.15rem;
  height: 100%;
  transition: $navbar-transition;
  white-space: nowrap;

  &:hover {
    background-color: color-mix(in srgb, $background-color, #fff 10%);
    transform: translateY(-1px);
  }
}

.textTitle {
  font-family: $font-family-navbar-header;
}

.brandHorizontal {
  flex-direction: row;
}

.brandVertical {
  flex-direction: column;
}

/**
 * NAVIGATION MENU
 */
.navigationMenu {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.vertical {
    align-items: flex-start !important;
    width: 100%;
    flex-direction: column;
    height: 100%;

    ul {
      width: 100%;
      flex-direction: column;
    }
  }

  &:not(.vertical) {
    width: 100%;
  }



  * {
    text-decoration: none;
  }
}

.navigationMenuList {
  z-index: 10;
  display: flex;
  padding: 0;
  gap: 0.25rem;

  // When in vertical navbar, make the list flexible to support alignment
  .vertical & {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

.containerButtonsAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 0.75rem;

  &.vertical {
    align-items: flex-start;
    width: auto; /* Adjust width based on content */
  }
}

/**
 * HAMBURGER MENU
 */
.wrapperBrandAndHamburger {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(.verticalWrapper) {
    flex-direction: row;
  }

  &.verticalWrapper {
    flex-direction: column;
  }
}

.hamburger {
  width: auto; /* Adjust width based on content */
  padding: 0.25rem;
  border: none;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  display: none;
  margin: 0 0.75rem;
  z-index: 1;
}

.iconHamburger {
  cursor: pointer;
  color: $navbar-icon-mobile-color !important;
  padding: 0.5rem;
  border-radius: 1rem;

  &:hover {
    background-color: color-mix(in srgb, $background-color, #000 20%) !important;
  }
}

/**
 * MEDIA QUERIES
 */
@media screen and (max-width: 1200px) {
  .wrapperBrandAndHamburger {
    &.verticalWrapper {
      flex-direction: column-reverse;
    }

    // fill the width of the navbar with the brand
    // in mobile so the brand is centered
    &:not(.verticalWrapper) {
      width: 100%;
    }
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .containerBrand {
    margin-left: auto;
    margin-right: auto;
  }

  .navigationMenu {
    &:not(.vertical) {
      // give room for brand to fill in
      width: 0px;
    }

    .vertical {
      top: 100px;
      left: 0;
    }
  }

  .navigationMenuList {
    position: absolute;
    top: 4rem;
    left: 5px;
    min-width: 30vw;
    display: none;
    flex-direction: column;
    background-color: color-mix(in srgb, $background-color, #fff 20%);
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    /* need to add small border radius to match the navbar item */
    border-radius: calc($navbar-item-border-radius + 2px);
    z-index: 11;
    background-color: transparent;
    border: 1px solid $bg-dark-color;
    padding: 0rem;
    gap: 0;
    animation: slideIn 0.2s ease-out;
  }

  .navigationMenu.expanded ul {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  .navigationMenuList {
    top: 40px;
    min-width: 40vw;
  }
}

@media screen and (max-width: 750px) {
  .navigationMenuList {
    top: 30px;
    min-width: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .navigationMenuList {
    top: 25px;
    min-width: 75vw;
  }
}

// Add animation keyframes
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
