$primary-color: var(--primary-color, #e8352e);
$secondary-color: var(--secondary-color, #284af7);
$accent-color: var(--accent-color, #ebeb30);

/**
* COLORS
*/
.primary {
  &:checked {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.secondary {
  &:checked {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

.accent {
  &:checked {
    background-color: $accent-color;
    border-color: $accent-color;
  }
}

// .form_control {
//   &[type='checkbox'] {
//     width: 1rem;
//     height: 1rem;
//     padding-left: 2.5rem;
//     margin-bottom: 0.5rem;
//     cursor: pointer;

//     &:checked {
//       // Add your checked state styles here
//       // For example:
//       background-color: var(--secondary-color);
//       border-color: var(--secondary-dark-color);
//     }
//   }
// }
