/**
* FORM CONTROLS
*
* This was stolen and modified from Bootstrap
* https://github.com/twbs/bootstrap/blob/main/scss/forms/_form_control.scss
* 
* We're using these to globally style forms and inputs
* via (primarily) the 'form_control' and `form_group` class
*/
$bg-color: var(--bg-color, #fff) !default;
$text-color-default: var(--text-color-default, #000) !default;
$secondary-color: var(--secondary-color, #ff0000) !default;
$grey-lightest: var(--grey-lightest, #acacac) !default;
$grey-dark: var(--grey-dark, #979797) !default;

// form variables
$font-size-base: 1.5rem !default;
$font-size-sm: 0.875rem !default;
$font-size-lg: 2rem !default;
$input-padding-x: 0.25rem !default;
$input-padding-y: 0.5rem !default;
$input-border-width: 0.2rem !default;
$input-border-radius: 0.25rem !default;
$input-font-family: var(--form-input-font-family, var(--font-family-main, inherit)) !default;
$input-font-weight: 400 !default;
$input-line-height: 1.5 !default;
// form input variables
// these are customizable via the --form-input- prefix
$input-bg: var(--form-input-bg, $bg-color) !default;
$input-color: var(--form-input-color, $text-color-default) !default;
$input-focus-color: var(--form-input-focus-color, $secondary-color) !default;
$input-focus-bg: var(--form-input-focus-bg, $bg-color) !default;
$input-border-color: var(--form-input-border-color, $input-focus-color) !default;
$input-focus-border-color: var(--form-input-focus-border-color, $grey-dark) !default;
$input-placeholder-color: var(--form-input-placeholder-color, $grey-lightest) !default;
$input-disabled-color: var(--form-input-disabled-color, $grey-lightest) !default;
$input-disabled-bg: var(--form-input-disabled-bg, $bg-color) !default;
$input-disabled-border-color: var(--form-input-disabled-border-color, $grey-dark) !default;
// form input padding / margin / size variables
$input-padding-x-sm: ($input-padding-x * 0.75) !default;
$input-padding-x: $input-padding-x !default;
$input-padding-x-lg: ($input-padding-x * 1.5) !default;
$input-padding-y-sm: ($input-padding-y * 0.75) !default;
$input-padding-y: $input-padding-y !default;
$input-padding-y-lg: ($input-padding-y * 1.5) !default;
$input-font-size-sm: ($font-size-base * $font-size-sm) !default;
$input-height-sm: ($font-size-sm + $input-padding-y * 2 + $input-border-width * 2) !default;
$input-height: ($font-size-base + $input-padding-y * 2 + $input-border-width * 2) !default;
$input-height-lg: ($font-size-lg + $input-padding-y * 2 + $input-border-width * 2) !default;
$input-height: ($font-size-base + $input-padding-y * 2 + $input-border-width * 2) !default;
$form-color-width: 0.25rem !default;
$form-file-button-color: var(--form-file-button-color, white) !default;
$form-file-button-border-color: var(--form-file-button-border-color, $grey-dark) !default;
$form-file-button-hover-color: var(--form-file-button-hover-color, $text-color-default) !default;
$form-file-button-hover-bg: var(--form-file-button-hover-bg, var(--primary-color)) !default;
$input-plaintext-color: var(--form-input-plaintext-color, white) !default;
$form-label-font-family: var(--form-label-font-family, var(--font-family-main, inherit)) !default;

.form_group {
  width: 100%;
  margin-bottom: 1em;

  label {
    display: flex;
    align-self: flex-start;
    font-family: $form-label-font-family;
  }
}

.form_control {
  display: block;
  width: 100%;
  margin: 8px 0px;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  box-sizing: border-box;
  border: $input-border-width solid $input-border-color;
  appearance: none; // Fix appearance for date inputs in Safari
  border-radius: $input-border-radius;

  &[type='file'] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  // Checkbox styles
  &[type='checkbox'] {
    cursor: pointer;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
  }

  // Add some height to date inputs on iOS
  // https://github.com/twbs/bootstrap/issues/23307
  &::-webkit-date-and-time-value {
    // Multiply line-height by 1em if it has no unit
    height: if(unit($input-line-height) == '', $input-line-height * 1em, $input-line-height);
  }

  // Prevent excessive date input height in Webkit
  // https://github.com/twbs/bootstrap/issues/34433
  &::-webkit-datetime-edit {
    display: block;
    padding: 0;
  }

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled {
    cursor: not-allowed;
    color: $input-disabled-color;
    background-color: $input-disabled-bg;
    border-color: $input-disabled-border-color;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;

    &[type='checkbox'] {
      background-color: $input-disabled-color;
      border-color: $input-disabled-color;
    }
  }

  // File input buttons theming
  &::file-selector-button {
    padding: $input-padding-y $input-padding-x;
    margin: (-$input-padding-y) (-$input-padding-x);
    margin-inline-end: $input-padding-x;
    color: $form-file-button-color;
    background-color: $input-bg;
    pointer-events: none;
    border-color: inherit;
    border-color: $form-file-button-border-color;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: $input-border-width;
    border-radius: 0; // stylelint-disable-line property-disallowed-list
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: $form-file-button-hover-bg;
    color: $form-file-button-hover-color;
  }
}

// Readonly controls as plain text
//
// Apply class to a readonly input to make it appear like regular plain
// text (without any border, background color, focus indicator)
.form_control_plaintext {
  display: block;
  width: 100%;
  padding: $input-padding-y 0;
  margin-bottom: 0; // match inputs if this class comes on inputs with default margins
  line-height: $input-line-height;
  color: $input-plaintext-color;
  background-color: transparent;
  border: solid transparent;
  border-width: $input-border-width 0;

  &:focus {
    outline: 0;
  }

  &.sm,
  &.md,
  &.lg {
    padding-right: 0;
    padding-left: 0;
  }
}

// Form control sizing
//
// Build on `.form_control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// Repeated in `_input_group.scss` to avoid Sass extend issues.
.sm {
  min-height: $input-height-sm;
  padding: $input-padding-y-sm $input-padding-x-sm;

  &::file-selector-button {
    padding: $input-padding-y-sm $input-padding-x-sm;
    margin: (-$input-padding-y-sm) (-$input-padding-x-sm);
    margin-inline-end: $input-padding-x-sm;
  }
}

.md {
  min-height: $input-height;
  padding: $input-padding-y $input-padding-x;

  &::file-selector-button {
    padding: $input-padding-y $input-padding-x;
    margin: (-$input-padding-y) (-$input-padding-x);
    margin-inline-end: $input-padding-x;
  }
}

.lg {
  min-height: $input-height-lg;
  padding: $input-padding-y-lg $input-padding-x-lg;

  &::file-selector-button {
    padding: $input-padding-y-lg $input-padding-x-lg;
    margin: (-$input-padding-y-lg) (-$input-padding-x-lg);
    margin-inline-end: $input-padding-x-lg;
  }
}

// Make sure textareas don't shrink too much when resized
// https://github.com/twbs/bootstrap/pull/29124
// stylelint-disable selector-no-qualifying-type
textarea {
  &.form_control {
    min-height: $input-height;
  }

  &.sm {
    min-height: $input-height-sm;
  }

  &.md {
    min-height: $input-height;
  }

  &.lg {
    min-height: $input-height-lg;
  }
}

.form_control_color {
  width: $form-color-width;
  height: auto;
  padding: $input-padding-y;

  &:not(:disabled):not([readonly]) {
    cursor: pointer;
  }

  &::-moz-color-swatch {
    border: 0 !important; // stylelint-disable-line declaration-no-important
    border-radius: $input-border-radius;
  }

  &::-webkit-color-swatch {
    border: 0 !important; // stylelint-disable-line declaration-no-important
    border-radius: $input-border-radius;
  }

  &.sm {
    height: $input-height-sm;
  }
  &.md {
    height: $input-height;
  }
  &.lg {
    height: $input-height-lg;
  }
}

// Mixin to handle checkbox size rules
@mixin checkbox-size($size) {
  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
}

// Default to md if no size class is present
.form_control[type='checkbox']:not(.sm):not(.lg) {
  @include checkbox-size($input-height);
}

.form_control[type='checkbox'].sm {
  @include checkbox-size($input-height-sm);
}

.form_control[type='checkbox'].md {
  @include checkbox-size($input-height);
}

.form_control[type='checkbox'].lg {
  @include checkbox-size($input-height-lg);
}
