// color redefinitions to standardize across this file/component
//
$white: var(--white, #ffffff);
$grey-light: var(--grey-light, #8199c2);
$grey-light-dark: var(--grey-light-dark, #a8b6cc);
$grey-dark: var(--grey-dark, #58647a);
$grey-darkest: var(--grey-darkest, #2f3542);

$info-color: var(--info-color, #284af7);
$info-light-color: var(--info-light-color, lighten(#284af7, 10%));
$info-dark-color: var(--info-dark-color, darken(#284af7, 10%));

$primary-color: var(--primary-color, #e8352e);
$primary-light-color: var(--primary-light-color, lighten(#e8352e, 10%));
$primary-dark-color: var(--primary-dark-color, darken(#e8352e, 10%));

$secondary-color: var(--secondary-color, #284af7);
$secondary-light-color: var(--secondary-light-color, lighten(#284af7, 10%));
$secondary-dark-color: var(--secondary-dark-color, darken(#284af7, 10%));

$accent-color: var(--accent-color, #ebeb30);
$accent-light-color: var(--accent-light-color, lighten(#ebeb30, 10%));
$accent-dark-color: var(--accent-dark-color, darken(#ebeb30, 10%));

$danger-color: var(--danger-color, #e8352e);
$danger-light-color: var(--danger-light-color, lighten(#e8352e, 10%));
$danger-dark-color: var(--danger-dark-color, darken(#e8352e, 10%));

$success-color: var(--success-color, #50c758);
$success-light-color: var(--success-light-color, lighten(#50c758, 10%));
$success-dark-color: var(--success-dark-color, darken(#50c758, 10%));

$warning-color: var(--warning-color, #f1c500);
$warning-light-color: var(--warning-light-color, lighten(#f1c500, 10%));
$warning-dark-color: var(--warning-dark-color, darken(#f1c500, 10%));

$black: var(--black, #000000);

// base
.base {
  padding: 0.6rem;
  border-radius: var(--button-border-radius, 4px);
  &:hover {
    cursor: pointer;
  }
}

//container main with hover classes
.containerMain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  // Show helper text on hover or focus
  &:hover .helperText,
  &:focus .helperText {
    display: block;
  }
}

// vertical for content i.e., if icons and text are in a column
.contentVertical {
  flex-direction: column;
}

// transparent
.transparent {
  background-color: transparent !important;
}

// base space between
.baseSpaceBetween {
  justify-content: space-between;
}

// container text
.containerText {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  * {
    margin: 0;
  }
}

// disabled
.disabled {
  background-color: $grey-dark !important;
  border: 1px solid $grey-darkest !important;
  color: $white !important;

  &:hover {
    cursor: not-allowed;
  }
}

// container icon
.containerIcon {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  * {
    color: inherit;
  }

  &:hover > * {
    color: $primary-light-color !important;
  }
}

// Adjusts for when icon and text should be vertically aligned
.contentVertical .containerIcon {
  margin-right: 0;
  margin-bottom: 0.4rem; // Adjust for vertical spacing between icon and text
}

// helper text
.helperText {
  position: absolute;
  max-width: 10rem;
  top: calc(100% + 4px);
  left: 80%;
  transform: translateX(-50%);
  background-color: $white;
  border: 1px solid $grey-light-dark;
  border-radius: 1rem;
  padding: 0.1rem;
  display: none; // Initially hide the helper text

  * {
    // color the text despite the button being in 'hover' state
    color: $grey-light !important;
  }
}

.helperTextContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.helperTextQuestionMark {
  background-color: $grey-light-dark;
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  color: $white !important;
}

// helper text visible
.helperTextVisible {
  display: block !important;
}

/**
* ELEVATION
*/
.elevationNone {
  box-shadow: none;
}

.elevationLow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.elevationMedium {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.elevationHigh {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 30px, rgba(0, 0, 0, 0.22) 0px 12px 10px;
}

/**
* VARIANTS
*/

// PRIMARY
.primary {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: $white;

  &:hover {
    color: $grey-light;
    background-color: $primary-light-color;

    * {
      color: $grey-light;
    }
  }

  &:focus {
    color: $grey-light-dark;
    background-color: $primary-dark-color;

    * {
      color: $grey-light-dark;
    }
  }

  &:active {
    color: $grey-light-dark;
    background-color: $primary-dark-color;

    * {
      color: $grey-light-dark;
    }
  }
}

.secondary {
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  color: $white;

  &:hover {
    color: $grey-light;
    background-color: $secondary-light-color;

    * {
      color: $grey-light;
    }
  }

  &:focus {
    color: $grey-light-dark;
    background-color: $secondary-dark-color;

    * {
      color: $grey-light-dark;
    }
  }

  &:active {
    color: $grey-light-dark;
    background-color: $secondary-dark-color;

    * {
      color: $grey-light-dark;
    }
  }
}

.accent {
  background-color: $accent-color;
  border: 1px solid $accent-color;
  color: $white;

  &:hover {
    color: $grey-light;
    background-color: $accent-light-color;

    * {
      color: $grey-light;
    }
  }

  &:focus {
    color: $grey-light-dark;
    background-color: $accent-dark-color;

    * {
      color: $grey-light-dark;
    }
  }

  &:active {
    color: $grey-light-dark;
    background-color: $accent-dark-color;

    * {
      color: $grey-light-dark;
    }
  }
}

.danger {
  background-color: $danger-color;
  border: 1px solid $danger-color;
  color: $white;

  &:hover {
    color: $grey-light;
    background-color: $danger-light-color;

    * {
      color: $grey-light;
    }
  }

  &:focus {
    color: $grey-light-dark;
    background-color: $danger-dark-color;

    * {
      color: $grey-light-dark;
    }
  }

  &:active {
    color: $grey-light-dark;
    background-color: $danger-dark-color;

    * {
      color: $grey-light-dark;
    }
  }
}

.success {
  background-color: $success-color;
  border: 1px solid $success-color;
  color: $white;

  &:hover {
    color: $grey-light;
    background-color: $success-light-color;

    * {
      color: $grey-light;
    }
  }

  &:focus {
    color: $grey-light-dark;
    background-color: $success-dark-color;

    * {
      color: $grey-light-dark;
    }
  }

  &:active {
    color: $grey-light-dark;
    background-color: $success-dark-color;

    * {
      color: $grey-light-dark;
    }
  }
}

.warning {
  background-color: $warning-color;
  border: 1px solid $warning-color;
  color: $white;

  &:hover {
    color: $grey-light;
    background-color: $warning-light-color;

    * {
      color: $grey-light;
    }
  }

  &:focus {
    color: $grey-light-dark;
    background-color: $warning-dark-color;

    * {
      color: $grey-light-dark;
    }
  }

  &:active {
    color: $grey-light-dark;
    background-color: $warning-dark-color;

    * {
      color: $grey-light-dark;
    }
  }
}

.info {
  background-color: $info-color;
  border: 1px solid $info-color;
  color: $white;

  &:hover {
    color: $grey-light;
    background-color: $info-light-color;

    * {
      color: $grey-light;
    }
  }

  &:focus {
    color: $grey-light-dark;
    background-color: $info-dark-color;

    * {
      color: $grey-light-dark;
    }
  }

  &:active {
    color: $grey-light-dark;
    background-color: $info-dark-color;

    * {
      color: $grey-light-dark;
    }
  }
}

.black {
  background-color: $black;
  border: 1px solid $white;
  color: $white;

  &:hover {
    color: $grey-dark;
    background-color: $black;

    * {
      color: $grey-dark;
    }
  }

  &:focus {
    color: $grey-darkest;
    background-color: $black;

    * {
      color: $grey-darkest;
    }
  }

  &:active {
    color: $grey-darkest;
    background-color: $black;

    * {
      color: $grey-darkest;
    }
  }
}

.white {
  background-color: $white;
  border: 1px solid $black;
  color: $black;

  &:hover {
    color: $grey-light-dark;
    background-color: $grey-light;
    border: 1px solid $grey-light-dark;

    * {
      color: $grey-light-dark;
    }
  }

  &:focus {
    color: $grey-darkest;
    background-color: $grey-light-dark;
    border: 1px solid $grey-darkest;

    * {
      color: $grey-darkest;
    }
  }

  &:active {
    color: $grey-darkest;
    background-color: $grey-light-dark;
    border: 1px solid $grey-darkest;

    * {
      color: $grey-darkest;
    }
  }
}

// INVERSE INFO
.inverseInfo {
  background-color: $white;
  border: 2px solid $info-color;

  * {
    color: $info-color;
  }

  &:hover {
    background-color: $info-light-color;
    border: 2px solid $info-dark-color;

    * {
      color: $info-dark-color;
    }
  }

  &:focus {
    background-color: $info-dark-color;
    border: 2px solid $info-dark-color;
  }

  &:active {
    background-color: $info-dark-color;
    border: 2px solid $info-dark-color;
  }
}

// INVESRE PRIMARY
.inversePrimary {
  background-color: $white;
  border: 2px solid $primary-color;

  * {
    color: $primary-color;
  }

  &:hover {
    background-color: $primary-light-color;
    border: 2px solid $primary-dark-color;

    * {
      color: $primary-dark-color;
    }
  }

  &:focus {
    background-color: $primary-dark-color;
    border: 2px solid $primary-dark-color;
  }

  &:active {
    background-color: $primary-dark-color;
    border: 2px solid $primary-dark-color;
  }
}

// INVERSE SECONDARY
.inverseSecondary {
  background-color: $white;
  border: 2px solid $secondary-color;

  * {
    color: $secondary-color;
  }

  &:hover {
    background-color: $secondary-light-color;
    border: 2px solid $secondary-dark-color;

    * {
      color: $secondary-dark-color;
    }
  }

  &:focus {
    background-color: $secondary-dark-color;
    border: 2px solid $secondary-dark-color;
  }

  &:active {
    background-color: $secondary-dark-color;
    border: 2px solid $secondary-dark-color;
  }
}

// INVERSE ACCENT
.inverseAccent {
  background-color: $white;
  border: 2px solid $accent-color;

  * {
    color: $accent-color;
  }

  &:hover {
    background-color: $accent-light-color;
    border: 2px solid $accent-dark-color;

    * {
      color: $accent-dark-color;
    }
  }

  &:focus {
    background-color: $accent-dark-color;
    border: 2px solid $accent-dark-color;
  }

  &:active {
    background-color: $accent-dark-color;
    border: 2px solid $accent-dark-color;
  }
}
