.containerSelectMultiple {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.containerSelectWindow {
  width: 40%;
  margin: 1rem;
}

.cardOption {
  &:hover {
    cursor: pointer;
    div {
      background-color: var(--bg-dark-color, #1c1c1c);
    }
  }

  .selected {
    div {
      background-color: var(--bg-dark-color, #1c1c1c);
    }
  }
}

.cardOptionSelected {
  div {
    background-color: var(--secondary-color, #78cdd7);
  }
}
