// colors
$white: var(--white, #ffffff);
$white-dark: var(--white-dark, #f5f5f5);
$grey-light: var(--grey-light, #a9bcde);
$grey-light-dark: var(--grey-light-dark, #a8b6cc);
$grey-dark: var(--grey-dark, #58647a);
$grey-darkest: var(--grey-darkest, #606775);
$black: var(--black, #232323);
$primary-color: var(--primary-color, #3f51b5);
$primary-dark-color: var(--primary-dark-color, #303f9f);
$secondary-color: var(--secondary-color, #f50057);
$secondary-dark-color: var(--secondary-dark-color, #c51162);
$accent-color: var(--accent-color, #ebeb30);
$accent-dark-color: var(--accent-dark-color, #c3c328);

// default colors
$card-background-default-color: var(--card-background-default-color, #ffffff);
$card-darken-default-color: var(--card-darken-default-color, #e0e0e0);
$card-border-default-color: var(--card-border-default-color, #e0e0e0);

// variables
$border-radius: var(--card-border-radius, 8px);
$elevation-low: var(--card-elevation-low, rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px);
$elevation-med: var(--card-elevation-med, rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px);
$elevation-high: var(--card-elevation-high, rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px);

.base {
  border-radius: calc($border-radius + 2px);
  white-space: normal;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.no_border {
  border: none !important;
}

.no_padding {
  padding: 0 !important;
}

.hover {
  &:hover {
    cursor: pointer;
    transform: translateY(-1%);
    box-shadow: rgba(0, 0, 0, 0.12) 10px 15px 20px;
  }
}

.linkCard {
  text-decoration: none;
}

/*
* CARD SECTIONS
*/
.header {
  padding: 1rem;
  border-radius: $border-radius $border-radius 0 0;

  &:only-child {
    // if ONLY header, round ALL corners
    border-radius: $border-radius;
    border-bottom: none !important;
  }
}

.body {
  padding: 1rem;
  border-radius: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.body:last-child {
  // If body is the last child, round bottom corners
  border-radius: 0 0 $border-radius $border-radius;
}

.footer {
  padding: 1rem;
  border-radius: 0 0 $border-radius $border-radius;
}

.footer:only-child {
  // if ONLY footer, round ALL corners
  border-radius: $border-radius;
  border-top: none !important;
}

/* If header is followed by body */
.header + .body {
  .body {
    border-radius: 0;
  }
}

/* If body is followed by footer */
.body + .footer {
  .body {
    border-radius: 0;
  }
  .footer {
    border-radius: 0 0 $border-radius $border-radius;
  }
}

/* If header is followed by footer */
.header + .footer {
  .header {
    border-radius: $border-radius $border-radius 0 0;
  }
  .footer {
    border-radius: 0 0 $border-radius $border-radius;
  }
}

/* If only header and footer */
.header:only-child + .footer:only-child {
  .header {
    border-radius: $border-radius $border-radius 0 0;
    border-bottom: none !important;
  }
  .footer {
    border-radius: 0 0 $border-radius $border-radius;
    border-top: none !important;
  }
}

/* If only body */
.body:only-child {
  border-radius: $border-radius;
}

/* If header, body, and footer are all present */
.header + .body + .footer {
  .header {
    border-radius: $border-radius $border-radius 0 0;
  }
  .body {
    border-radius: 0;
  }
  .footer {
    border-radius: 0 0 $border-radius $border-radius;
  }
}

/*
* BACKGROUNDS
*/
.background_card_default {
  background-color: $card-background-default-color !important;

  .footer {
    border-top: 1px solid $card-darken-default-color;
    background-color: $card-darken-default-color;
  }

  .header {
    border-bottom: 1px solid $card-darken-default-color;
    background-color: $card-darken-default-color;
  }
}

.background_card_transparent {
  background-color: transparent !important;

  .footer {
    border-top: 1px solid transparent;
    background-color: transparent;
  }

  .header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
  }
}

.background_card_white {
  background-color: $white !important;

  .footer {
    border-top: 1px solid $white-dark;
    background-color: $white-dark;
  }

  .header {
    border-bottom: 1px solid $white-dark;
    background-color: $white-dark;
  }
}

.background_card_grey_light {
  background-color: $grey-light !important;

  .footer {
    border-top: 1px solid $grey-light-dark;
    background-color: $grey-light-dark;
  }

  .header {
    border-bottom: 1px solid $grey-light-dark;
    background-color: $grey-light-dark;
  }
}

.background_card_grey_dark {
  background-color: $grey-dark !important;

  .footer {
    border-top: 1px solid $grey-darkest;
    background-color: $grey-darkest;
  }

  .header {
    border-bottom: 1px solid $grey-darkest;
    background-color: $grey-darkest;
  }
}

.background_card_black {
  background-color: $black !important;

  .footer {
    border-top: 1px solid $black;
    background-color: $black;
  }

  .header {
    border-bottom: 1px solid $black;
    background-color: $black;
  }
}

.background_card_primary {
  background-color: $primary-color !important;

  .footer {
    border-top: 1px solid $primary-dark-color;
    background-color: $primary-dark-color;
  }

  .header {
    border-bottom: 1px solid $primary-dark-color;
    background-color: $primary-dark-color;
  }
}

.background_card_secondary {
  background-color: $secondary-color !important;

  .footer {
    border-top: 1px solid $secondary-dark-color;
    background-color: $secondary-dark-color;
  }

  .header {
    border-bottom: 1px solid $secondary-dark-color;
    background-color: $secondary-dark-color;
  }
}

.background_card_accent {
  background-color: $accent-color !important;

  .footer {
    border-top: 1px solid $accent-dark-color;
    background-color: $accent-dark-color;
  }

  .header {
    border-bottom: 1px solid $accent-dark-color;
    background-color: $accent-dark-color;
  }
}

.background_footer_default {
  border-top: 1px solid $card-darken-default-color;
  background-color: $card-darken-default-color;
}

.background_footer_transparent {
  border-top: 1px solid transparent !important;
  background-color: transparent !important;
}

.background_footer_white {
  border-top: 1px solid $white-dark !important;
  background-color: $white-dark !important;
}

.background_footer_grey_light {
  border-top: 1px solid $grey-light-dark !important;
  background-color: $grey-light-dark !important;
}

.background_footer_grey_dark {
  border-top: 1px solid $grey-darkest !important;
  background-color: $grey-darkest !important;
}

.background_footer_black {
  border-top: 1px solid $black !important;
  background-color: $black !important;
}

.background_footer_primary {
  border-top: 1px solid $primary-dark-color !important;
  background-color: $primary-dark-color !important;
}

.background_footer_secondary {
  border-top: 1px solid $secondary-dark-color !important;
  background-color: $secondary-dark-color !important;
}

.background_footer_accent {
  border-top: 1px solid $accent-dark-color !important;
  background-color: $accent-dark-color !important;
}

.background_header_default {
  border-bottom: 1px solid $card-darken-default-color !important;
  background-color: $card-darken-default-color !important;
}

.background_header_transparent {
  border-bottom: 1px solid transparent !important;
  background-color: transparent !important;
}

.background_header_white {
  border-bottom: 1px solid $white-dark !important;
  background-color: $white-dark !important;
}

.background_header_grey_light {
  border-bottom: 1px solid $grey-light-dark !important;
  background-color: $grey-light-dark !important;
}

.background_header_grey_dark {
  border-bottom: 1px solid $grey-darkest !important;
  background-color: $grey-darkest !important;
}

.background_header_black {
  border-bottom: 1px solid $black !important;
  background-color: $black !important;
}

.background_header_primary {
  border-bottom: 1px solid $primary-dark-color !important;
  background-color: $primary-dark-color !important;
}

.background_header_secondary {
  border-bottom: 1px solid $secondary-dark-color !important;
  background-color: $secondary-dark-color !important;
}

.background_header_accent {
  border-bottom: 1px solid $accent-dark-color !important;
  background-color: $accent-dark-color !important;
}

/*
* BORDERS
*/
.border_default {
  border: 2px solid $card-border-default-color;
}

.border_transparent {
  border: 2px solid transparent;
}

.border_white {
  border: 2px solid $white;
}

.border_grey_light {
  border: 2px solid $grey-light;
}

.border_grey_dark {
  border: 2px solid $grey-dark;
}

.border_black {
  border: 2px solid $black;
}

.border_primary {
  border: 2px solid $primary-color;
}

.border_secondary {
  border: 2px solid $secondary-color;
}

.border_accent {
  border: 2px solid $accent-color;
}

/*
* ELEVATIONS
*/
.elevation_none {
  box-shadow: none;
}

.elevation_low {
  box-shadow: $elevation-low;
}

.elevation_med {
  box-shadow: $elevation-med;
}

.elevation_high {
  box-shadow: $elevation-high;
}

/**
* MEDIA QUERIES
*/
@media (max-width: 992px) {
  .header {
    padding: 0.75rem;
  }

  .body {
    padding: 0.75rem;
  }

  .footer {
    padding: 0.75rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0.5rem;
  }

  .body {
    padding: 0.5rem;
  }

  .footer {
    padding: 0.5rem;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 0.25rem;
  }

  .body {
    padding: 0.25rem;
  }

  .footer {
    padding: 0.25rem;
  }
}
