$border-radius: var(--card-border-radius, 8px);

.base {
  border-radius: calc($border-radius + 2px);
  background: var(--bg-light-color, #ffffff) !important;
  border: 2px solid var(--bg-color, #dddddd);
  white-space: normal;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.no_border {
  border: none;
}

.card_style__transparent {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;

  div {
    background-color: transparent !important;
    border-bottom: none !important;
    border: none !important;
  }
}

.hover {
  &:hover {
    cursor: pointer;
    transform: translateY(-1%);
    background-color: var(--bg-dark-color, #b1b1b1);
    box-shadow: rgba(0, 0, 0, 0.12) 10px 15px 20px;

    .header {
      background-color: var(--bg-dark-color, #b1b1b1);
      border-bottom: 1px solid var(--bg-dark-color, #b1b1b1) !important;
    }
  }
}

/*
* CARD  SECTIONS
*/
.header {
  padding: 16px;
  border-bottom: 1px solid var(--bg-light-color, #ffffff) !important;
  background-color: var(--bg-color, #dddddd);
  border-radius: $border-radius $border-radius 0 0;
}

.header:only-child {
  // if ONLY header, round ALL corners
  border-radius: $border-radius;
  border-bottom: none !important;
}

.body {
  padding: 16px;
  border-radius: $border-radius;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--bg-light-color, #ffffff);
}

.footer {
  padding: 16px;
  border-top: 1px solid var(--bg-light-color, #ffffff);
  background-color: var(--bg-color, #dddddd);
  border-radius: 0 0 $border-radius $border-radius;
}

.footer:only-child {
  // if ONLY footer, round ALL corners
  border-radius: $border-radius;
  border-top: none !important;
}

/*
* BACKGROUND
*/
.background_white {
  background-color: var(--white, #ffffff);
}

.background_grey_light {
  background-color: var(--grey-light, #8199c2);
}

.background_grey_dark {
  background-color: var(--grey-dark, #58647a);
}

.background_black {
  background-color: var(--black, #232323);
}

/*
* ELEVATIONS
*/
.elevation_none {
  box-shadow: none;
}

.elevation_low {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.elevation_med {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.elevation_high {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
