$primary_color: var(--primary-color, #e8352e);

.containerLoading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

/**
* SIZES
*/
.loader_sm {
  width: 24px;
  height: 24px;
}

.loader_md {
  width: 48px;
  height: 48px;
}

.loader_lg {
  width: 64px;
  height: 64px;
}

/**
* DEFAULT
*/
.loader_default {
  border: 2px solid $primary_color;
  border-radius: 50%;
  border-top-color: white;
  animation: rotationSpinner 1s linear infinite;
}

@keyframes rotationSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
* DOUBLE CIRCLE
*/
.loader_double_circle {
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotationDoubleSpinner 2s linear infinite;
}
.loader_double_circle::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted $primary_color;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBackDoubleSpinner 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotationDoubleSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBackDoubleSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/**
* CIRCLE BOUNCE
*/
.loader_circle_bounce {
  border: 4px solid $primary_color;
  border-radius: 50%;
  animation: circleBounceSpinner 1s ease-in-out infinite;
}

@keyframes circleBounceSpinner {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.5);
  }
}

/**
* SPINNING SQUARE
*/
.loader_spinning_square {
  border: 4px solid $primary_color;
  animation: spinningSquareSpinner 3s linear infinite;
}

@keyframes spinningSquareSpinner {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
