.base {
  padding: 12px;
  margin: 12px 0px;
  border-radius: var(--alert-border-radius, 4px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & > * {
    color: var(--white, #ffffff) !important;
  }

  & > h1,
  h2,
  h3,
  h4,
  h5,
  p {
    width: 100%;
  }
}

.clickable {
  cursor: pointer;
}

.dismissButton {
  cursor: pointer;
  color: var(--white, #ffffff);
  margin-left: 8px;
  min-width: 20px;
  height: 20px;

  &:hover {
    color: var(--danger-color, #e8352e);
  }
}

/*
  * COLOR
  */
.color_success {
  background-color: var(--success-light-color, #50c758);
}

.color_warning {
  background-color: var(--warning-color, #f1c500);
  & > div {
    color: var(--black) !important;
  }
}

.color_danger {
  background-color: var(--danger-light-color, #e8352e);
}

.color_info {
  background-color: var(--info-light-color, #284af7);
}

/**
  * ELEVATION
  */
.elevation_none {
  box-shadow: none;
}

.elevation_low {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.elevation_med {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.elevation_high {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

/**
* TEXT ALIGNMENT
*/
.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}
