/**
*
* GLOBAL STYLES
*
*/
$primary-color: red;
$secondary-color: blue;
$info-color: #284af7;
$warning-color: #f1c500;
$success-color: #50c758;
$danger-color: #e8352e;

html,
:root {
  // app theme
  --primary-color: #{$primary-color};
  --primary-dark-color: #{darken($primary-color, 10%)};
  --primary-light-color: #{lighten($primary-color, 10%)};
  --secondary-color: #{$secondary-color};
  --secondary-dark-color: #{darken($secondary-color, 10%)};
  --secondary-light-color: #{lighten($secondary-color, 10%)};
  // general colors
  --white: #fff;
  --black: 35, 35, 35;
  --grey-light: #8199c2;
  --grey-dark: #58647a;
  --grey-darkest: #2d3a4f;
  --info-color: #{$info-color};
  --info-dark-color: #{darken($info-color, 10%)};
  --info-light-color: #{lighten($info-color, 10%)};
  --warning-color: #{$warning-color};
  --warning-dark-color: #{darken($warning-color, 10%)};
  --warning-light-color: #{lighten($warning-color, 10%)};
  --success-color: #{$success-color};
  --success-dark-color: #{darken($success-color, 10%)};
  --success-light-color: #{lighten($success-color, 10%)};
  --danger-color: #{$danger-color};
  --danger-dark-color: #{darken($danger-color, 10%)};
  --danger-light-color: #{lighten($danger-color, 10%)};
  // bg theme colors
  --bg-color: rgb(221, 221, 221) !important;
  --bg-light-color: rgb(255, 255, 255) !important;
  --bg-dark-color: rgb(177, 177, 177) !important;
  --bs-body-color: rgb(24, 23, 23) !important;
  --text-color: rgb(24, 23, 23) !important;
  // border radius options
  --border-radius-bbalert: 8px;
  --border-radius--bbbutton: 8px;
  --border-radius--bbcard: 8px;
  --border-radius--bbnavbar: 8px;
  --border-radius--bbnavbar-item: 8px;
  // font family
  --font-family-header: 'Montserrat'; // Used for larger fonts/headers
  --font-family-main: 'Josefin Sans'; // Used for main text
}
